<html>
  <head>
    <title>{{ title }}</title>
    <link rel="manifest" href="/public/js/pwa.webmanifest">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/public/assets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white"/>

  </head>
  <body>
    {{{ body }}}
    <!-- <script src="/js/status.js"></script> -->
    <script src="/js/pwa.js"></script>
  </body>
</html>
